<div class="background-image-top">
  <div class="main-content text-center py-5">
    <h1 class="mb-3 rounded-rectangle">日々の楽器練習を日記にしよう。</h1>
    <p class="mb-4 text-secondary rounded-rectangle2">いつか見返したときにいい思い出になるようにね。</p>
    <% if logged_in? %>
      <%= link_to '日記を書く', diaries_path, class: 'btn btn-custom' %>
    <% else %>
      <%= link_to '日記を書く', login_path, class: 'btn btn-custom' %>
    <% end %>
  </div>
</div>