<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Music Diary App - FullCalendar</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>  <!-- CSSの読み込み -->
</head>
<body>
  <div id="calendar" data-dates='<%= @diary_dates.to_json %>'></div>
  <%= javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true %>  <!-- esbuildでバンドルされたJavaScriptの読み込み -->
</body>
</html>
