<h1>メールアドレス登録</h1>
<%= form_with url: registration_users_path, local: true, data: { turbo: false } do |f| %>
  <div class="field">
    <%= f.label :email, "メールアドレス" %>
    <%= f.email_field :email, required: true %>
  </div>
  <div class="actions">
    <%= f.submit "登録確認のメールを送信" %>
  </div>
<% end %>
